body {
background-color: aliceblue;
}

li {
  font-size: 16px;
  font-family: sans-serif;
}

p {
  font-size: 16px;
font-family: Georgia, serif;
}
  
h2 {
  text-decoration: underline;
  font-weight: bold;
}

.intro {
  font-size: "36px";
  font-weight: bold;
  font-family: Georgia, serif;
}

ul {
  border: 2px solid blue;
}

.box {
  display: flex;
    align-items: center;
  background-color: lightskyblue;
  justify-content: center;
  margin: 2px
}


.menu {
  background-color: azure; 
}

.menu2 {
  font-size: "70px";
  font-weight: bold;
  font-family: arial;
 text-align: center;
}
